body {
  background-color: #e3e3e3;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding-inline: 0.75rem;
  height: 6rem;
  border-bottom: 1px solid;
  border-color: #b4b4b4;
}

header > a {
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-family: "Bangers", sans-serif;
  color: inherit;
}

header > a > img {
  width: 4rem;
  height: 4rem;
}

.main-content {
  width: calc(100% - 4rem);
  height: calc(100dvh - 10.125rem);
  margin: 2rem auto;
  position: relative;
  border-radius: 5rem;
  overflow: hidden;
}

.background {
  z-index: -1;
  position: absolute;
  background-color: #d2ecff; /* OG #80C27F */
  height: 100%;
  width: 100%;
  /* inset: 0; */
  display: flex;
  flex-direction: column;
}

.background > .sun {
  background-color: #ffd700;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 1000px;
}

.background > .ground {
  background-color: #80c27f;
  height: 40%;
  width: 100%;
  margin-top: auto;
}

.card{
  aspect-ratio: 2/3;
  height: 300px;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #000;
  position: relative;
}

.card > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card > p{
  margin: 0.5rem 0;
  /* font-family: 'Alumni Sans Collegiate One', sans-serif; */
  font-family: 'Alumni Sans Variable', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #000; 
  width: 100%;
  margin-inline: auto;
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }

  header {
    border-color: #2b2b2b;
  }

  .background {
    background-color: #000c14;
  }

  .background > .sun {
    background-color: #dccb7f;
  }

  .background > .ground {
    background-color: #234123;
  }
}
